<footer id="footer">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1 col-xs-12">

            <h2 style="text-align: center;">Contact</h2>

            <div class="main_contact_content">
                <div class="contact_form_area">
                    <h3>Contact form</h3>
                    <form action="#" id="formid">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="first name">
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="3" placeholder="Message"></textarea>
                                </div>
                            </div>

                            <div class="form_btn_area text-center">
                                <a href="" class="btn">Send</a>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p style="font-size: 18px">&nbsp;<span class="glyphicon glyphicon-envelope"></span> : duynguyen15081998z@gmail.com</p>
    <p style="font-size: 18px">&nbsp;<span class="glyphicon glyphicon-phone"></span> : 0395689977</p>
    <p>&nbsp;&copy; @DateTime.Now.Date - Thank For Watching My Web</p>
    <br />
</footer>
